<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button class="menu-icon" [matMenuTriggerFor]="menuDropdown" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="main-menus">
    <mat-menu #menuDropdown="matMenu">
      <ng-container class="main-menus" *ngFor="let menu of menus">
        <button mat-menu-item [matMenuTriggerFor]="submenu"  (click)="menuClick(menu.item_no)">
          {{ menu.menu_item_name_display }}

        </button>
        <mat-menu class="main-menus" xPosition="after" #submenu="matMenu">
          <button [routerLink]="subm.url" mat-menu-item *ngFor="let subm of menu.submenuitems">{{subm.name}}</button>
        </mat-menu>
      </ng-container>
    </mat-menu>
  </div>

  <span class="logo">Bhakari</span>
  <span class="spacer"></span>
  <ng-container *ngIf="islogedin">
    <span class="spacer"></span>
    <div class="menu-container" fxLayout="row" fxLayoutGap="8px">
      <ng-container *ngFor="let menu of menus">
        <button class="clickable" (click)="menuClick(menu.item_no)" [matMenuTriggerFor]="menuDropdown" mat-button>
          {{ menu.menu_item_name_display }}
        </button>
        
        <mat-menu class="mat-menu custom-height" #menuDropdown="matMenu" xPosition="after">
          <div class="custom">
            <button [routerLink]="submenu.url" mat-menu-item *ngFor="let submenu of menu.submenuitems">{{ submenu.name }}</button>
          </div>
        </mat-menu>
      </ng-container>
      <button mat-button routerLink="menuacc" >Menu</button>
    </div>
    <span class="spacer"></span>
  
  <div class="d-flex custom-search mr-3">
    <input class="form-control me-2 flex-grow-1" type="search" placeholder="Search" aria-label="Search">
    <button mat-raised-button color="warn">Search</button>
  </div>
  </ng-container>
  


  <div *ngIf="!islogedin">
    <button routerLink="signup" mat-raised-button class="mx-4"color="accent">Signup</button>
    <button routerLink="login" mat-raised-button color="warn">Sign in</button>
  </div>
  <div *ngIf="islogedin" class="head-user-avatar-container">
    <div class="head-user-avatar" [cdkMenuTriggerFor]="userOverlay">
        <img src="../../../assets/images/myphoto.jpeg" class="user-avatar" >
        <div class="circle-indicator pluse">  
        </div>
    </div>
</div>


</mat-toolbar>

<ng-template #userOverlay>
  <div class="overlay overlay-user overlay-fall" cdkMenu>
      <ul>
        <li *ngFor="let item of userItems" cdkMenuItem [tabindex]="-1">
          <a>
            <fa-icon [icon]="item.icon" class="fa-icon"></fa-icon>
            <span>{{item.label}}</span>
          </a>
        </li>
        
      </ul>
  </div>
</ng-template>
