.spacer {
    flex: 1 1 auto;
}

ul {
    list-style: none;
}

ul li {
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 2;
}

ul li .dropdown {
    position: relative;
}

ul li.dropdown fa-icon {
    padding-right: 15px;
}

ul li:not(:last-child) {
    margin-right: 40px;
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100px;
    height: 500px;
    padding: 15px 0;
    background-color: blue;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
    z-index: 1;
    display: none;
}

.dropdown:hover .sub-menu {
    display: block;
}

.sub-menu li {
    padding: 6px 24px;
}


.custom {
    height: 400px !important;
}

.search{
    min-width: 20rem;
}

.custom-search {
    width: 100%; /* Set the desired width */
    max-width: 400px; /* Set a maximum width if needed */
    margin: 0 auto; /* Center the search field horizontally */
  }
  