<div class="container access-control">
  <mat-card class="card-height">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="example-table-container px-3 mat-elevation-z18">

          <table mat-table [dataSource]="dataSource" class="">
            <!-- Position Column -->
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let element;let i = index">{{i+1}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{element.full_name}}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="userlevel">
              <th mat-header-cell *matHeaderCellDef>User Level</th>
              <td mat-cell *matCellDef="let element">{{element.access_level}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Running</th>
              <td mat-cell *matCellDef="let element">{{element.user_status}}</td>
            </ng-container>
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Teacher</th>
              <td mat-cell *matCellDef="let element">{{element.isteacher}}</td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let element;"
              [class.selected-row]="selectedRow === element" (click)="selectRow(element)"
              (click)="getUserid(element.user_key)"></tr>


          </table>
        </div>
        <br>
        <form style="background: rgba(46, 46, 46, 0.368);" class="p-2" [formGroup]="newmembergroup">
          <div class="m-1 row">

            <mat-form-field class="example-full-width">

              <mat-label>Select Insititution</mat-label>
              <input type="text" matInput formControlName="school_name" [matAutocomplete]="autoschool"> <mat-icon
                matSuffix>arrow_drop_down</mat-icon>
              <mat-autocomplete autoActiveFirstOption #autoschool>
                <mat-option *ngFor="let school of SchoolNameFilteredOptions | async" [value]="school.inst_name">
                  {{school.inst_name}}
                </mat-option>
              </mat-autocomplete>

            </mat-form-field>
          </div>
          <div class="add-user " *ngIf="wantonewmember">
            <div class="m-1 row">
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Full Name</mat-label>
                  <input formControlName="full_name" matInput>
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <mat-label>User Id</mat-label>
                  <input type="text" formControlName="user_id" matInput>
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Password</mat-label>
                  <input formControlName="password" type="password" matInput placeholder="Ex. kishor">
                </mat-form-field>
              </div>

            </div>
            <div class="m-1 row">
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Name</mat-label>
                  <input type="text" matInput formControlName="name">
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input formControlName="email" matInput placeholder="Ex. kishor">
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Print On</mat-label>
                  <input type="text" formControlName="print_on" matInput>
                </mat-form-field>
              </div>

            </div>
            <div class="m-1 row">
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Paper Size</mat-label>
                  <input formControlName="paper_size" matInput>
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Number</mat-label>
                  <input type="text" formControlName="phone_number" matInput>
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Access Level</mat-label>
                  <input type="text" matInput formControlName="access_level" [matAutocomplete]="autouserlevel">
                  <mat-icon matSuffix>arrow_drop_down</mat-icon>
                  <mat-autocomplete autoActiveFirstOption #autouserlevel>
                    <mat-option *ngFor="let userlevel of UserLevelFilteredOptions | async"
                      [value]="userlevel.access_name">
                      {{userlevel.access_name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

            </div>
            <div class="m-1 row">
              <div class="col-lg-4">
                <mat-form-field>
                  <mat-label>Faculty</mat-label>
                  <mat-select formControlName="faculty" multiple>
                    <mat-option *ngFor="let faculty of toppinglist"
                      [value]="faculty.fac_key">{{faculty.fac_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-checkbox formControlName="isteacher" class="example-margin">Is teacher!</mat-checkbox>
              </div>
              <div class="col-lg-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Employee Name</mat-label>
                  <input type="text" formControlName="employee_key" matInput [matAutocomplete]="autoemployee">
                  <mat-icon matSuffix>arrow_drop_down</mat-icon>
                  <mat-autocomplete autoActiveFirstOption #autoemployee="matAutocomplete">
                    <mat-option *ngFor="let employee of EmployeeFilteredOptions | async" [value]="employee.emp_key">
                      {{employee.emp_name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

              </div>
            </div>
          </div>
        </form>


        <div *ngIf="!wantonewmember" class="add-user">

        </div>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 row">
        <div class="col-lg-6">
          <div class="mat-elevation-z18 px-3" style="height: 630px; overflow: auto;">
            <table [dataSource]="submenuSource" mat-table style="overflow-x: hidden;" class=" ">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>id</th>
                <td mat-cell *matCellDef="let element; let i = index;">{{i+1}}</td>
              </ng-container>
              <ng-container matColumnDef="menu_name">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-form-field appearance="outline" style="height: 40px;" class="custom-mat-form-field">
                    <mat-label>Select Menu</mat-label>
                    <mat-select (selectionChange)="getSubmenuByitemno($event)">
                      <mat-option [value]="null">None</mat-option>
                      <mat-option *ngFor="let menuitem of menutopplinglist" [value]="menuitem.item_no">
                        {{menuitem.menu_item_name_display}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displaymenuName; sticky:true"></tr>
              <tr mat-row *matRowDef="let row; columns:displaymenuName;" (dblclick)="getThisrowdata(row)"></tr>

            </table>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mat-elevation-z18 px-3" style="height: 630px; overflow: auto;">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Accessable Menu</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of newselectedmenuSource; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ item.name }}</td>
                </tr>
              </tbody>
            </table>
            
          </div>

        </div>

      </div>
      <hr>
    </div>
    <div class="row example-button-row">
      <div class="col-lg-1 button-div"><button (click)="addNew()" mat-raised-button>New</button></div>
      <div class="col-lg-1 button-div">
        <button [disabled]="!isdisabled" mat-raised-button (click)="getFormValue()">{{ buttonText }}</button>
      </div>
      
      <div class="col-lg-5 button-div"></div>
      <div class="col-lg-2 button-div"><button mat-raised-button (click)="addAccessSubMenu()">Save Action</button></div>
      <div class="col-lg-1 button-div"> <button [disabled]="!applydisable" mat-raised-button >Appy</button></div>
    </div>
  </mat-card>
</div>