.access-control{
    padding-top: 70px;
   max-width: 100%;
}

.example-table-container {
    position: relative;
    height: 200px;
    overflow: auto;
  }

  .button-div{
    margin: 0!important;
  }

  .example-button-row{
    padding: 0!important;
    margin: 0!important;
  }

  .add-user{
    height: 300px;
  }

  button {
    width: 100%;
  }

  mat-form-field {
   max-width: 100%;
  }

  

  .selected-row {
    background-color: lightblue; 
  }


  .spacer {
    flex: 1 1 auto;
}

 


  
  


 
 
 






























/* .menulistingsection {
    height: 42px;
    margin-top: 7px;
    background: black;

}

#form-buttons {
    margin-top: 5rem;
}

.scrollable {
    height: 50vh;
    overflow-y: scroll;
    border-radius: 5px;
}
.menuScrollable{
    height: 70vh;
    overflow-y: scroll;
    border-radius: 5px;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

#form-container {
    height: 70%;
    margin: auto;
}

.active{
    background:rgb(124, 124, 124);
} */


