<div style="background-color: lightgray;" class="main-container">
  <div class="non-printable">
    <form action="" [formGroup]="partyledger">
      <div class="row row1">

        <div style="display: flex; align-items: center;" class="col-lg-12 col-md-12 col-sm-12 ">
          <label style="margin-right: 5px;">From</label>
         
          <ne-datepicker type="text" style="margin-right: 5px; padding:0;" (dateInBS)="startingDate($event)" [date]="date" dateIn="BS">
          </ne-datepicker>
          <span style="margin-right: 5px;">To</span>
          <ne-datepicker style="margin-right: 5px;" (dateInBS)="endDate($event)" [date]="date" dateIn="BS">
          </ne-datepicker>
          <mat-form-field style="margin-right: 10px; width: 60%; height: 60px!important;padding:0px!important;margin-top:22px!important;" class="example-full-width">
            <input placeholder="Enter Account" type="text" matInput formControlName="accountlist" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto>
              <mat-option  *ngFor="let option of filteredOptions | async" (click)="accountSeletd(option)"
                [value]="option.nep_text">
                {{option.nep_text}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button (click)="getvalues()" mat-raised-button color="primary">Report</button>
        </div>
        <!-- <div class="col-lg-1 col-sm-1 col-md-1"></div>
        <div class="col-lg-2 col-md-2 col-sm-2"> </div> -->

      </div>
    </form>
  </div>
  <div style="box-shadow: inset 0 0 2px rgba(0, 0, 0, 1);background-color: white;border: 2px solid black;"
    class="non-printable" id="printableContent">
    <div id="pageHeaderId">
      <div class="page-header no-page-break"> <!-- This is the header content -->
        <div class="text-center align-items-center pt-3">
          <p style="font-size: 1.5rem; font-weight: bold;">{{cooperativeData.cooperative_name}}</p>
          <p style="font-size: 1.2rem; font-weight: bold;">{{cooperativeData.cooperative_address}},
            {{cooperativeData.working_area}}</p>
          <p style="font-size:1rem; font-weight:700;">PAN No. {{cooperativeData.pan_no}}</p>
        </div>
        <div style="padding:0;margin:0;" class="row px-1">
          <div class="col-sm-6">
            <p style="font-size:.9rem; font-weight:700;">PARTY LEDGER OF: {{selectedAcountData.nep_text}}</p>
          </div>
          <div class="col-sm-6 text-end">
            <p style="font-size:.9rem; font-weight:700;">FROM {{selectedSDateAndEDate.sDate}} to
              {{selectedSDateAndEDate.eDate}}</p>
          </div>



        </div>
      </div>
    </div>

    <section class="example-container">
      <table mat-table [dataSource]="voucherDetailsData">

        <ng-container matColumnDef="SN">
          <th style="margin-top: 0;" mat-header-cell *matHeaderCellDef> SN </th>
          <td mat-cell *matCellDef="let transaction; let i = index"> {{1+i}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>


        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.ed }}
            <hr style="margin: 0; border: 0; border-top: var(--bs-border-width) solid;">{{transaction.ede}}
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
        <ng-container matColumnDef="V.NO">
          <th class="text-center" mat-header-cell *matHeaderCellDef> V.NO </th>
          <td class="text-center" mat-cell *matCellDef="let transaction"> {{transaction.v_t_key
            }}<br>{{transaction.v_no}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.description }} </td>
          <td mat-footer-cell *matFooterCellDef style="text-align: right;">Total </td>
        </ng-container>
        <ng-container matColumnDef="Dr.Amount">
          <th mat-header-cell *matHeaderCellDef style="text-align: right;"> Dr. Amount </th>
          <td mat-cell *matCellDef="let transaction" style="text-align: right;"> {{transaction.dr_amt }} </td>
          <td mat-footer-cell *matFooterCellDef style="text-align: right;"> {{totalcount.totalDrAmount }} </td>
        </ng-container>
        <ng-container matColumnDef="Cr.Amount">
          <th mat-header-cell *matHeaderCellDef style="text-align: right;"> Cr. Amount </th>
          <td mat-cell *matCellDef="let transaction" style="text-align: right;"> {{transaction.cr_amt }} </td>
          <td mat-footer-cell *matFooterCellDef style="text-align: right;"> {{totalcount.totalCrAmount }} </td>
        </ng-container>
        <ng-container matColumnDef="Balance">
          <th mat-header-cell *matHeaderCellDef style="text-align: right;"> Balance </th>
          <td mat-cell *matCellDef="let transaction" style="text-align: right;"> {{transaction.balance}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="voucherDetailsHeading; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: voucherDetailsHeading;"></tr>
        <tr mat-footer-row *matFooterRowDef="voucherDetailsHeading"></tr>
      </table>
    </section>
    <div id="pageFooterId" class="page-footer no-page-break"> <!-- This is the footer content -->
      <div style="padding: 0!important;" class="row page-footer">
        <div class="col-sm-4">
          <h3>Report Generated By: <strong>{{softwareName.application_name}}</strong></h3>
        </div>
        <div class="col-sm-2 text-sm-center">
          <h5>Page: 1/1</h5>
        </div>
        <div class="col-sm-6 text-end">
          <p>Date/Time {{currentDate}}</p>
        </div>
      </div>
    </div>
  </div>

  <div id="printablepage">
    <div id="printingBox">


    </div>
  </div>

  <div style="margin-top: 20px;" class="row justify-content-lg-end px-lg-5">
    <button (click)="printDiv()" mat-raised-button style="width: fit-content;">Print</button>
  </div>
</div>