<div class="container access-control">
    <mat-card>
        <mat-card-header>Party Report</mat-card-header>
<form action="" [formGroup]="partyledger">
    <div class="row row1">
        <div class="col-lg-2 col-md-2 col-sm-2 mx-5">
                <ne-datepicker (dateInBS)="startingDate($event)" [date]="date" dateIn="BS" >  </ne-datepicker>
        </div>
        <div class="col-lg-1 col-sm-1 col-md-1"><span>To</span></div>
        <div class="col-lg-2 col-md-2 col-sm-2">
        <ne-datepicker (dateInBS)="endDate($event)" [date]="date" dateIn="BS" >  </ne-datepicker>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 mx-5">
            <mat-form-field class="example-full-width">
                <mat-label>Account List</mat-label>
                <input type="text"
                       matInput
                      formControlName="accountlist"
                       [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto>
                  <mat-option *ngFor="let option of filteredOptions | async" (click)="accountSeletd(option.ac_key)" [value]="option.nep_text">
                    {{option.nep_text}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-1 mx-5">
            <button (click)="getvalues()" mat-raised-button color="primary">Report</button>
        </div>


    </div>
</form>   
</mat-card>
</div>