.row1 {
  padding: 0 !important;
  margin: 0 !important;
}
/* .np_datepicker_input {
  padding: 5px!important;
  height: 20px!important;
} */

.nepali-date-picker .np_datepicker_input {
  box-sizing: border-box;
  width: inherit;
  border: 1px solid #eee;
  padding: 2px!important;
  font-size: 10px;
  color: #777;
  border-radius: 8px;
  height: 3px!important;
}

.main-container{
  padding: 20px;
  height: calc(100vh - 64px);
  background-color: lightgrey;
}

#printableContent{
  padding: 30px;
}



.example-container {
  max-height: 170px;
  overflow: auto;
}

table {
  width: 100%;
}

tr.mat-mdc-footer-row {
  font-weight: bold;
}

.mat-mdc-table-sticky {
  border-top: 1px solid #e0e0e0;
}

#printableContent {
  white-space: pre-wrap;
  word-break: break-all;
}

#printingBox{
  display: none;
}

/* @media print {
    .page-header, .page-footer {
        display: block;
        position: fixed;
        width: 100%;
    }

    .page-header {
        top: 0;
    }

    .page-footer {
        bottom: 0;
    }
} */
/* @media print {
  .non-printable{
    visibility: hidden;
  }
  button {
    visibility: hidden;
  }
  table {
    page-break-after: always;
  }
  .example-container {
    max-height: max-content;
    overflow: visible;
  }

  #printableContent {
    display: block !important;
    padding: 0;
    top: 2cm;
    left: 1.5cm;
    right: .75cm;
    bottom: 0.75cm;
    position: absolute;
  }

  
} */

/* @media print {
  .non-printable{
    visibility: hidden;
  }
  button {
    visibility: hidden;
  }
  table {
    page-break-after: always;
  }
  .example-container {
    max-height: max-content;
    overflow: visible;
  }

  #printableContent {
    display: block !important;
    padding: 0;
    top: 2cm;
    left: 1.5cm;
    right: .75cm;
    bottom: 0.75cm;
    position: absolute;
  }
  .page-header{
    position: absolute;
    top: 0;
    height: 150px;
  }

  .page-footer{
    position: absolute;
    bottom: 0;
  }




  
} */

@page {
  size: A4;
  margin: 0; /* Optionally, adjust the margins as needed */
}

@media print {
  .page {
    page-break-before: always;
    bottom: 0;
  }

  .page-header{
    page-break-before: always;
  }
  .page-footer{
    page-break-after: always;
  }

  .table-row-data{
    
    max-height: 10px!important;
  }
  .table-row-data td{
    font-size: 100px;
  }

  .non-printable {
    visibility: hidden;
    display: none;
  }

  #printingBox {
    visibility: visible;
    display: contents;
  }

  button{
    visibility: hidden;
    
  }

  .example-full-width{
    height: 20px;
  }

 
  
}



/* .page-footer{
    margin-bottom: 100px;
  } */
/* 
   .sn-class{
    max-width: 30px!important;
   }
   .date-class{
    max-width: 30px!important;
   }
   .vno-class{
    max-width: 30px!important;
   } */
   /* .description-class{
    width: 30px!important;
   } */
   /* .dr-amount-class{
    max-width: 30px!important;
   }
   .cr-amount-class{
    max-width: 30px!important;
   }
   .balance-class{
    max-width: 30px!important;
   } */





