<mat-card class="mat-card-container">
    <mat-card-content>Data Migration</mat-card-content>
  
    <form [formGroup]="datamigrate">
      <div class="row">
        <div class="col-lg-2">
          <mat-form-field>
            <mat-label>Favorite food</mat-label>
            <mat-select formControlName="selectedTableValue">
              <mat-option *ngFor="let table of tables" [value]="table">
                {{ table }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-2">
          <input type="file" (change)="handleFileInput($event)" formControlName="filecontrol">
        </div>
        <div class="col-lg-1">
          <button mat-raised-button (click)="onSubmit()">Submit</button>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="table mat-elevation-z18">
        <div class="table-container">
          <table class="scrollable-table">
            <thead>
              <tr>
                <th *ngFor="let columnName of headrows">{{ columnName }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rowData of datarows">
                <td *ngFor="let columnName of headrows">{{ rowData[columnName] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </mat-card>