<!-- <section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="transactions">

      <ng-container matColumnDef="SN">
        <th mat-header-cell *matHeaderCellDef> SN </th>
        <td mat-cell *matCellDef="let transaction; let i = index"> {{1+1}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
  
    
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.ed }} </td>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>
      <ng-container matColumnDef="V.NO">
        <th mat-header-cell *matHeaderCellDef> V.NO </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.v_t_key }} </td>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>
      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.description }} </td>
        <td mat-footer-cell *matFooterCellDef>Total  </td>
      </ng-container>
      <ng-container matColumnDef="Dr.Amount">
        <th mat-header-cell *matHeaderCellDef> Dr.Amount </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.dr_amt }} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() }} </td>
      </ng-container>
      <ng-container matColumnDef="Cr.Amount">
        <th mat-header-cell *matHeaderCellDef> Cr.Amount </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.cr_amt }} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() }} </td>
      </ng-container>
      <ng-container matColumnDef="Balance">
        <th mat-header-cell *matHeaderCellDef> Balance </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.v_no }} </td>
        <td mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </section>
   -->


<div class="printablecontent">
  <div class="header">
    <h1> Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, laboriosam.</h1>
  </div>
  <div class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eaque laborum eius maxime
    laudantium, quidem optio consectetur ducimus et! Eum ut nam, rem eveniet quisquam eius nisi sapiente incidunt, omnis
    id veniam quo aperiam. Vero optio voluptate earum ab? Dicta nostrum consequuntur error reprehenderit voluptatem
    maxime exercitationem itaque totam perspiciatis doloribus voluptate, laborum distinctio quae tempora aliquam magni.
    Ipsum officia quasi perferendis sapiente maxime temporibus laboriosam esse pariatur quidem deleniti cupiditate,
    assumenda cum voluptatum non deserunt quos, culpa, hic molestias. Recusandae iusto atque repellat nostrum,
    laudantium minus suscipit ducimus adipisci obcaecati fugiat ipsa tempore laboriosam molestiae, cupiditate magnam
    pariatur nisi aliquid eius culpa itaque excepturi. Nesciunt, voluptates, quia culpa sint fuga quos suscipit minus
    numquam ex eveniet itaque neque ut ducimus! Magni consequatur laboriosam ullam nisi ipsam, quam reiciendis iusto!
    Eligendi asperiores quo ipsam minus amet exercitationem accusamus quisquam nam distinctio facere hic ea possimus
    nihil fuga est, ducimus aspernatur dolorum dignissimos? Necessitatibus eligendi illum repudiandae, molestiae
    similique ab earum excepturi nihil, corporis odio quidem. Dignissimos quasi voluptates nam, eum rem sunt inventore
    recusandae exercitationem? Voluptatum totam quos veniam amet impedit beatae qui natus temporibus excepturi repellat,
    deleniti sunt nihil, reiciendis maiores est repudiandae voluptas, debitis quibusdam aliquam sed quidem minima sint?
    Iure corporis suscipit sapiente iste. Nam enim repudiandae, similique assumenda debitis quo rem veniam voluptas.
    Fugiat fugit culpa quos debitis deserunt veritatis magnam, distinctio cumque nam delectus et fuga dolores nemo
    molestias dolorem iste tempore ad neque! Veniam dicta quisquam alias commodi, distinctio modi praesentium atque
    nesciunt suscipit inventore soluta quaerat enim ea esse nisi officiis vel! Voluptatum odit voluptate harum hic culpa
    reprehenderit, necessitatibus excepturi minima, molestias ea est minus neque, iste perspiciatis. Id quod excepturi a
    voluptatem vel tempore temporibus! Exercitationem, autem commodi. Recusandae distinctio sint harum a enim eaque
    quaerat commodi quia. Laudantium necessitatibus cupiditate et odio adipisci neque, temporibus eligendi minima
    repellat, assumenda iste cum enim, sequi nam nemo voluptatum quae soluta tempora. Earum id officia aut, distinctio
    minus exercitationem officiis saepe minima? Unde, id? Quasi dolorem officiis magnam eos sunt ad sequi officia quod
    rerum excepturi? Dolorum commodi quisquam harum sit! Aliquid quibusdam dolore, esse velit impedit voluptatem fugiat
    quas. Fugit neque, facere at beatae consequatur tempora! Omnis doloremque modi, doloribus accusantium incidunt hic
    ipsam eaque molestias consequatur obcaecati reiciendis ab harum eligendi similique, saepe unde aperiam rerum amet
    iste exercitationem labore. Cupiditate nulla voluptates ipsa dolore saepe minus voluptatem perferendis porro quidem
    voluptatibus fugiat possimus sit numquam officiis consectetur vitae nisi quae id tempora sequi neque voluptas, nam
    in. Exercitationem possimus voluptatibus accusamus, deleniti quo ex omnis expedita in harum corporis ab nemo
    reiciendis debitis, itaque voluptates consequatur animi dicta eaque aperiam voluptatem iusto quis perferendis.
    Molestias corrupti blanditiis ad fugit aspernatur corporis unde inventore, eius, beatae voluptates consectetur
    tenetur laborum necessitatibus similique? Illum ratione doloribus cum aliquid natus ex perspiciatis pariatur est?
    Enim beatae nisi praesentium dolor minus omnis expedita voluptas, culpa ipsam molestiae, quam similique suscipit,
    doloribus sequi ipsum? Suscipit repellendus, ipsam autem repellat at excepturi cumque sit? Animi, neque quibusdam
    quos esse magnam maxime consequuntur minus maiores quod voluptate suscipit reprehenderit eius earum! Vero deleniti
    magnam quidem veritatis praesentium sequi, ex sapiente dolore hic velit, earum sunt fuga aliquam placeat non dolorum
    repellendus amet! Veniam, qui ducimus inventore sequi recusandae libero vero quasi quia assumenda similique id
    blanditiis dolor? Laudantium atque sed iste, delectus rerum, expedita voluptatibus molestiae iusto inventore illo
    iure quis voluptate modi pariatur, cum dolorum id harum. Ducimus eligendi officia ad accusamus, nobis quis nulla
    sequi facilis numquam molestias culpa, natus aliquid perspiciatis laudantium officiis iste. Harum accusantium nihil
    qui praesentium natus, libero eaque hic facilis fugit, recusandae nisi, quidem nesciunt neque est. Error rem
    delectus quibusdam blanditiis atque recusandae eligendi vitae! Rem ullam molestias reprehenderit qui suscipit
    quibusdam repudiandae, voluptate atque libero voluptatibus corporis soluta iste veniam! Corporis, delectus. Minus
    consequatur sequi expedita quos aliquam consequuntur porro molestias blanditiis dolor quo? Nam, distinctio sunt
    nesciunt natus rerum iusto unde, quos quasi debitis earum beatae! Totam nihil sapiente, sed dolor assumenda aliquam
    praesentium, omnis alias atque perspiciatis maxime quisquam, obcaecati odit ut. Delectus animi ut, necessitatibus
    quo eos corrupti modi natus explicabo similique rem repudiandae sunt totam molestias tenetur, aliquam qui magnam
    saepe cupiditate labore enim alias quidem beatae! Quibusdam reprehenderit quidem doloremque dolor, hic recusandae
    fuga voluptatum molestiae eaque sequi! Eos culpa debitis dolores vitae sunt, ducimus harum nostrum deleniti
    molestias quos doloribus sed nesciunt aut eligendi voluptatem soluta corrupti sint. Est quidem ipsa qui, modi dicta
    autem accusantium quis vel necessitatibus aliquam eius, consequatur sunt sed vitae ullam mollitia. Amet totam vero
    unde voluptates aut error suscipit tempore, molestias tenetur veritatis ipsum quidem, itaque sapiente minima at!
    Nulla dicta praesentium amet mollitia error, explicabo quo! Neque eligendi dignissimos, sunt nulla velit ut ab quae
    optio tenetur. Cumque alias veritatis quaerat consequuntur odit rerum autem, ipsum nihil voluptate. Quis totam saepe
    reiciendis asperiores quo! Assumenda recusandae ex sint fugiat deserunt repellat illum ipsa! Quaerat eius officiis,
    possimus id voluptas asperiores aliquid atque nobis quis, inventore dolores, eos aperiam fuga doloribus? Laudantium
    assumenda doloribus odio sed molestias ducimus veritatis, in inventore consequuntur laborum optio non tenetur, illo,
    sunt velit. Autem fugiat dignissimos facere illum, iste dolorum at alias officiis sequi esse. Iste porro praesentium
    accusantium sint corporis dolor eum eos, ipsam itaque, explicabo, adipisci nemo atque incidunt sunt illum. Quidem
    velit qui quibusdam fugiat atque doloribus! Quam sit ab amet, sequi illum sed quis omnis dolore, explicabo error,
    enim veritatis doloremque ipsa. Veritatis fugiat blanditiis suscipit cumque esse dolorum, vitae placeat accusamus
    distinctio possimus ratione optio harum ad ut impedit totam iusto molestias fuga quaerat doloribus, excepturi
    incidunt id! Non, minus! Dignissimos dolores nam, recusandae voluptatem nihil, nobis dicta debitis qui quo
    necessitatibus, nesciunt ab eligendi itaque. Ab minima ipsa consequuntur unde in libero sit ea, minus, cumque
    corrupti, explicabo fugit odit saepe. Iure aperiam qui rerum, fugit in ipsa adipisci repellendus quibusdam fugiat,
    aspernatur nobis ducimus esse ratione perspiciatis ullam incidunt quam tempora delectus harum consectetur quis
    debitis! Eos quis consectetur culpa explicabo provident ipsa! Lorem ipsum dolor sit amet consectetur, adipisicing
    elit. Veritatis impedit vitae, perferendis sunt ex rerum commodi corporis. Excepturi, est qui? Minus assumenda, non
    magnam voluptatem veritatis culpa saepe totam labore natus mollitia voluptatibus in nihil recusandae, voluptas
    commodi perferendis accusantium temporibus sint exercitationem similique aut rerum vitae? Quis molestias eveniet hic
    laboriosam ducimus provident pariatur iure tempora nulla commodi, aut autem consequuntur eius veniam vero enim
    facere exercitationem fugiat, quibusdam id ab? Facilis quaerat voluptatibus sunt ut incidunt, perspiciatis mollitia
    atque repellendus laborum laudantium, excepturi voluptate omnis maxime suscipit, tempore doloribus consectetur
    aspernatur sit. Quod sed ipsum deserunt vitae fugiat! Laborum, cum molestias adipisci fugiat sequi aperiam labore
    veniam qui nihil accusantium deserunt architecto quia. Laboriosam ducimus deserunt illo corrupti culpa repellendus
    eveniet iure perspiciatis, mollitia, neque, ad reprehenderit officia fugit asperiores dolorum fuga. Dolores delectus
    ea quaerat expedita itaque optio labore distinctio, cum sequi praesentium numquam voluptatum saepe perferendis,
    tempore reiciendis? Explicabo quaerat molestias illo veritatis aspernatur, odio possimus officia rem minima
    accusantium, fuga expedita sapiente aliquid, recusandae quis sint praesentium similique eligendi eius. Nisi tempora
    voluptas aliquid libero voluptate dignissimos non mollitia nulla aliquam, recusandae debitis sed ducimus molestias
    ullam deserunt. Quaerat libero natus facilis aliquid ipsam quos amet, iure, tempora enim perferendis laboriosam
    dolore rem quis quo culpa neque. Nesciunt ut cupiditate non distinctio minima harum explicabo ullam tempore
    assumenda eum laborum, magni rerum ea, doloremque, fugit maiores sequi? Consectetur amet natus voluptatibus eligendi
    delectus suscipit dicta nostrum sunt impedit, consequuntur recusandae beatae asperiores similique nisi voluptate
    quas esse adipisci quasi necessitatibus! Est enim quod, vero consequuntur assumenda recusandae? Esse quam dolorum
    cupiditate cumque, sint laudantium in ratione id mollitia assumenda, fuga amet magnam sit ad tempora. Aliquid
    expedita fugiat ducimus nulla asperiores eos hic odio eius minima, impedit laboriosam animi debitis ipsum! Et non
    facere asperiores, temporibus exercitationem dolor eos eaque similique minus alias aut assumenda voluptates.
    Reiciendis facilis impedit, ad expedita fugiat perferendis, veritatis laboriosam, necessitatibus voluptas architecto
    quis velit molestiae optio tempora? Hic consequatur, facere exercitationem, tenetur repellendus vitae repudiandae
    consequuntur voluptas unde impedit quis perspiciatis enim odit alias veniam aperiam modi! Laboriosam repellendus
    beatae quisquam culpa sapiente molestias nostrum veritatis ex, tenetur ipsam maxime distinctio eaque hic minus
    consequuntur sunt nisi soluta ipsa nobis saepe, iste sint ad quibusdam minima. Voluptatem incidunt laboriosam cumque
    beatae aliquid nam rerum sunt odit atque. Error ipsa eum libero ratione id facere earum, laborum at aliquid magni?
    Voluptatum nobis maiores nihil rerum cum obcaecati officiis debitis! Inventore maiores tenetur quos tempore. Magni
    commodi similique saepe ipsam tenetur maxime rem reprehenderit recusandae expedita voluptate! Minus quia at, nihil
    inventore eius porro, nesciunt laudantium aliquid perspiciatis quibusdam dolores cupiditate explicabo! Neque
    inventore sunt eum expedita necessitatibus delectus quis dolor culpa ex doloribus vel saepe repellat quos iure odio
    sapiente sequi veritatis accusantium, voluptatum doloremque. Quos sunt, sequi consequatur sint accusantium cum
    voluptates facere magnam neque blanditiis nostrum quod quisquam. Placeat corrupti dolor eum reiciendis earum
    molestiae quae est, aspernatur illo accusantium, autem temporibus. Provident autem culpa obcaecati eaque maiores!

  </div>
  <div class="footer">
    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, officiis?</h2>
  </div>
</div>

<button (click)="printContent()">print</button>